---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

The world’s energy consumption has increased steadily. The fossil fuels still amount to 80% of the world’s energy consumption. Therefore, the production of oil and gas is of major importance to the stability of the world’s energy supply.
<\br><\br>
The concept of subsea field development was suggested in the early 1970s. This concept was the start of subsea engineering, and systems that have a well and associated equipment below the water surface are referred as subsea production systems. With the depletion of onshore and offshore shallow-water reserves, the production of oil in deep water has become a challenge to the offshore industry. 
<\br><\br>
Flow assurance is an engineering analysis process that is used to ensure that hydrocarbon fluids are transmitted economically from the reservoir to the end user over the life of a project in any environment. With flow assurance, our knowledge of fluid properties and thermal-hydraulic analyses of a system are utilized to develop strategies for controlling solids such as hydrates, wax, asphaltenes, and scale from the system. The main part of the flow assurance analysis should be done prior to or during the earlier front-end engineering and design (FEED) process. Although the term is relatively new, the problem related to flow assurance have been a critical issue in the oil/gas industry.
<\br><\br>
The subsea technology used for offshore oil and gas production is a highly specialized field of application that places particular demands on engineering. The subsea production system carrier some unique aspects related to the inaccessibility of the installation and its operation and servicing. These special aspects make subsea production a specific engineering discipline.
<\br><\br><\br>

전세계적으로 에너지 수요는 꾸준히 증가하는 추세입니다. 그 중 에너지 수요의 80% 가량은 화석 연료로서, 오일과 가스의 생산은 에너지 시장에서 안정성을 유지하는 데에 매우 중요한 역할을 하고 있습니다. 
<\br><\br>
  Subsea field development는 1970년대 초기에 처음 제안된 개념으로 해수면 아래 유정과 그와 관련된 여러 가지 장비들로 이루어진 계를 subsea production system이라 명명하고 이것이 subsea engineering의 시작이었습니다. 육상과 얕은 바다에서 채굴할 수 있는 오일과 가스가 점점 고갈됨에 따라 현 offshore industry에서 심해 오일 및 가스 생산 기술 발전에 박차를 가하고 있습니다.
<\br><\br>
  Flow assurance (유동안정성 확보)는 저류층에서부터 생산된 오일 및 가스가 시장에 입장할 때까지 경제적, 안정적으로 수송하는 과정을 제어하는 공학입니다. 유동안정성 확보를 통해서 유체의 물성과 계의 열-수력적 분석을 이용하여 하이드레이트, 왁스, 아스팔텐, 스케일과 같은 고형물을 제어하는 전략을 연구합니다. 이러한 유동안정성 확보 분석은 프로젝트의 초기, 혹은 FEED (Front-End Engineering and Design) 단계에서 수행되어야 합니다. Flow Assurance 라는 용어는 상대적으로 사용하게 된지 얼마 되지 않은 용어지만, 에너지 산업에서는 매우 중요한 분야로 여겨지고 있습니다.
<\br><\br>
  위에 언급된 subsea field development나 flow assurance 같은 기술은 플랜트 산업에서 매우 특화된 분야입니다. 해수면 아래로 설치, 운영 및 점검이 시각적으로 혹은 접근하기가 용이하지 않기 때문에 더욱 더 정확한 기술 발전이 필요합니다.
<\br><\br>
  SEFA Lab에서는 KAIST OSE OPEL Lab과 함께 이러한 subsea engineering과 flow assurance를 중점적으로 연구하고 있습니다. 시각적으로 확인할 수 없는 기술들을 상상하고 발전시키는 연습을 통하여 에너지 산업의 기술을 선도하는 꿈을 가진 학생들은 언제나 환영합니다.  
  <\br><\br>
  
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

About our Research

{% for post in site.research reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
